body{color: white;
    background-color: #245079;
    padding-left: 64px;
    padding-right: 64px;

}
a{
    text-decoration: none;
    color: rgb(203 213 225);

}
.container{
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 32px;
}
.single{
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
    margin: 7px;
    
}
.top{
    padding-left: 0%;
}
.hey{
    margin-top: 50px;
}
@media (max-width: 600px) and (min-width:500px) {
    .container {
        flex-direction: column;
    }
}
    /* body{
        background-color: aliceblue;
    }
}
@media (min-width:500px) {
    body{
        background-color: black;
}
} */

